{% assign hero_id = "hero-" | append: page.url | slugify %}
{% capture overlay_filter_css %}
{% if page.header.overlay_filter contains "gradient" %}
{{ page.header.overlay_filter }}
{% elsif page.header.overlay_filter contains "rgba" %}
linear-gradient({{ page.header.overlay_filter }}, {{ page.header.overlay_filter }})
{% elsif page.header.overlay_filter %}
linear-gradient(rgba(0, 0, 0, {{ page.header.overlay_filter }}), rgba(0, 0, 0, {{ page.header.overlay_filter }}))
{% endif %}
{% endcapture %}
{% assign overlay_filter_css = overlay_filter_css | strip %}

<style>
  .{{ hero_id }} {
  {% if overlay_filter_css != "" %}
    background-image: {{ overlay_filter_css }}, url('/assets/images/header.webp');
  {% else %}
    background-image: url('/assets/images/header.webp');
  {% endif %}
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  {% if page.header.overlay_color %}
    background-color: {{ page.header.overlay_color | default: 'transparent' }};
  {% endif %}
  }
  @media (max-width: 1000px) {
    .{{ hero_id }} {
  {% if overlay_filter_css != "" %}
    background-image: {{ overlay_filter_css }}, url('/assets/images/header-mobile.webp');
  {% else %}
    background-image: url('/assets/images/header-mobile.webp');
  {% endif %}
  }
  }
</style>

<div class="page__hero{% if page.header.overlay_color or page.header.overlay_image %}--overlay{% endif %} {{ hero_id }}">
  <div class="wrapper">
    <div class="hero__logo" style="text-align: center;" data-aos="fade-up">
      <img src="{{ site.logo | relative_url }}" alt="{{ site.title }} logo" style="width: 60vw; max-width: 600px;"/>
    </div>
    {% if page.header.show_overlay_excerpt != false and page.excerpt %}
    <p class="page__lead" data-aos="fade-left">{{ page.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
    {% endif %}
    {% if page.header.actions %}
    <div style="text-align: center; margin-top: 1em;">
      <p>
        {% for action in page.header.actions %}
        <a data-aos="fade-right" href="{{ action.url | relative_url }}" class="btn btn--light-outline btn--large {{ action.class }}" {% if action.blank %} target="_blank" rel="noopener noreferrer nofollow"{% endif %}>{{ action.label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a>
        {% endfor %}
    </div>
    {% endif %}
  </div>
  {% if page.header.caption %}
  <span class="page__hero-caption">{{ page.header.caption | markdownify | remove: "<p>" | remove: "</p>" }}</span>
  {% endif %}
</div>
