
.contact-link {
    color: #fff !important;
    text-decoration: underline;
    transition: opacity 0.2s ease;
}

.contact-link:hover {
    opacity: 0.8;
}



.qual-divider {
    border: none;
    height: 2px;
    width: 60%;
    background-color: #f7931e;
    margin: 2em auto;
    opacity: 0.6;
}

.qualifications-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    flex-wrap: wrap;
    font-weight: 400;
    text-align: center;
    color: #000;
}

.qualifications-centered span {
    display: inline-block;
}


.service-intro {
    background-color: rgba(0, 0, 0, 0.1);
    border-left: 3px solid #fff;
    padding: 0.8em 1em;
    margin: 0.8em 0 1.2em 0;
    font-size: 0.95em;
    line-height: 1.5;
    color: #fff;
    border-radius: 4px;
}


.about-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-logo {
    height: 2em;
    margin-left: -0.15em;
    width: auto;
    vertical-align: middle;
    transform: translateY(1px);
}



.intro-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    margin-top: -3em;
    flex-wrap: wrap;
}

.intro-image {
    flex: 0 0 auto;
}

.intro-logo {
    width: 100%;
    max-width: 400px;
    height: auto;
    transition: all 0.3s ease;
}

.intro-text {
    flex: 1;
    min-width: 280px;
    color: #000;
    text-align: left;
}

.intro-text h3 {
    margin-bottom: 1em;
}



@media (max-width: 900px) {
    .intro-flex {
        flex-direction: column;
        text-align: center;
    }

    .intro-image {
        order: -1;
    }

    .intro-logo {
        max-width: 250px;
        content: url("/assets/images/logo-desktop-white.webp");
        margin-bottom: -5rem;
    }

    .intro-text {
        text-align: center;
    }
}

